<script type="text/javascript">
    (function () {
        var slide_style = function () {
            // var width = DeviceInfo.width / DeviceInfo.ratio - 8;
            var width = $(window).width() - 8;
            var height = width / 2;
//            alert("width="+width+"  height="+height);
            var style = [
                '<style type="text/css">',
                '.slide_width{width:' + width + 'px !important;}',
                '.slide_height{height:' + height + 'px !important;}',
                '.slide_scroll_width{width:' + width * 3 + 'px !important;}',
                '</style>'
            ]
            $('head').append(style.join(' '));
        };

        var add_ratio_class = function () {
            var class_name = 'ratio' + DeviceInfo.ratio;
            $('body').removeClass('ratio1').addClass(class_name.replace('.', '_'));
        };

        if (!(DeviceInfo.browser == 'firefox' || (DeviceInfo.os == 'wp' && DeviceInfo.browser == 'ie'))) {
            slide_style();
        } else {
            $(function () {
                DeviceInfo.ratio = DeviceInfo.width / window.innerWidth;
                // 设置样式
                slide_style();
                // 更新cookie
                set_cookie('ratio', DeviceInfo.ratio, 365);
                // body上添加不同浏览器的class
                add_ratio_class();
            });
        }

    })();
</script>

<style type="text/css">
    .top_bar {
        height: 45px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
        line-height: 45px;
        font-size: 18px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
    }

    .img_wrap a {
        width: 320px;
        float: left;
        height: 155px;
    }

    .slide {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -30px;
        z-index: 1;
    }

    .scroll_box {
        margin: 0 auto;
    }

    .slide_bar {
        position: relative;
        width: 100%;
        padding: 6px 0;
        overflow: hidden;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
        margin: 7px 0 2px;
        overflow: hidden;
    }

    .con_main table {
        border: medium none;
        margin-top: 10px;
        width: 100%;
    }

    .sort {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        text-align: center;
        width: 97px;
    }

    .sort div {
        /*height: 50px;*/
        /*width: 50px;*/
    }

    .sort div img {
        height: 100%;
        float: left;
    }

    .down {
        margin: 15px 35px;
        overflow: hidden;
        border: 1px solid #DDD;
        background: #FFF;
        text-align: center;
        padding: 10px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#EEE));
        border-radius: 0.5em;
    }

    .down a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 14px;
        color: #333;
    }

    .product {
        font-size: 13px;
        text-align: center;
        overflow: hidden;
        line-height: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        float: left;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 10px;
    }

    .img_wrap {
        width: 100%;
        height: auto;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        /*margin: 0 auto;*/
    }

        /*body a {*/
        /*outline: none;*/
        /*blr: expression(this.onFocus=this.blur());*/
        /*}*/

        /************ table ****************/

</style>

<style>
    .nav_list li{
        width: 20%
    }
    .shop li{
        padding-top: 10px;
    }
    ul{
        margin-bottom: 20px;
    }

    .special .img_box{
        width:300px;
        height:172px;
        margin: 0 auto;
        border: 3px solid #ffffff;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        margin-top: 4px;
    }
    .special .img_box.first{
        margin-top:0;
    }
    .special .img_box p{
        position: absolute;
        bottom: 0;
        height:22px;
        line-height: 22px;
        display: block;
        background: #000000;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        width:100%;
        padding: 0;
    }
    .special .img_box.failed{
        background: rgba(4,0,0,0.05);
    }
    .special .img_box.failed img,
    .special .img_box img{
        display: none;
    }
    .special .img_box.loaded img{
        display: block;
    }
</style>

<!--<div class="top_bar">宁波试衣MM</div>-->
<header>
  <div class="navigation"></div>

  <div class="title">宁波试衣MM</div>
</header>
<div class="main">
  <ul class="shop">
    <li>
      <a class="special" href="">
        <div class="img_box loaded" >
          <img src='<%= asset_path('at1.jpg')%>' width='300' height='150'>
          <p class="name">游泳装备大集合，畅快体验水上清凉作战乐趣</p>
        </div>
      </a>
    </li>
    <li>
      <a class="special" href="">
        <div class="img_box loaded" >
          <img src='<%= asset_path('at2.jpg')%>' width='300' height='150'>
          <p class="name">选择优雅男士配饰，打造高端商务精英气质</p>
        </div>
      </a>
    </li>
    <li>
      <a class="special" href="">
        <div class="img_box loaded" >
          <img src='<%= asset_path('at1.jpg')%>' width='300' height='150'>
          <p class="name">选择优雅男士配饰，打造高端商务精英气质</p>
        </div>
      </a>
    </li>
  </ul>
</div>

<!-- footer -->
<footer>
  <p>© 2013-试衣MM</p>
  <p><a href="http://d.shiyimm.com">下载手机客户端</a></p>
</footer> <!-- end footer -->


<script type="text/javascript">
    var height = $(window).height() - 46;
    $('.main').css('min-height', height - 46);
</script>
