/******************************************************/
/*兼容uc header 取消头部固定 */
/******************************************************/
.meizu{
    position: relative;
    z-index: 999999;
    background: #ffffff;
}
/******************************************************/
/*兼容ie */
.ie header{
    top: expression(offsetParent.scrollTop);
}
/*********    设置为float的div在ie下设置的margin会加倍  ******/

.huawei_origin .slide{
    display: none;
}
*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
*, ::after, ::before {
    -webkit-tap-highlight-color: rgba(204,204,204,0.2);
    -webkit-user-select: none;/*不允许选择文本*/
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;/**无法拖动元素*/
}
html{
    background-image: url(about:blank);
    background-attachment: fixed;
}
input, textarea, select{
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    outline:none;
    -moz-outline:none;
    outline-offset:none;
    -webkit-appearence:none;
    -moz-appearence:none;
}
input{
    line-height: normal;
    -webkit-appearence:none;
    -moz-appearence:none;
    color: #2f2f2f;
}
input:-moz-placeholder,
::-webkit-input-placeholder{
    color:#999999;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button{
    display: none;
}
body{
    margin:0;
    padding:0;
    width:100%;
    font-family: STHeitiSC-Light, STHeiti, MicrosoftYaHei , Helvetica Neue;
    background: #ffffff;
    font-size: 12px;
    position: relative;
}
img{
    border: none;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
p,h1,ul,h2{
    margin:0;
    padding:0;
}
em{
    font-style: normal;
}
a{
    height: 100%;
    display: block;
    text-decoration: none;
    bblr:expression(this.onFocus=this.blur());/*IE使用*/
    -moz-outline-style:none;/*FF使用*/
    outline: none;
    -webkit-tap-highlight-color: rgba(204,204,204,0.2);
}
li{
    list-style: none;
}
input,select,textarea{
    border:none;
    padding:0;
    margin:0;
    outline: none;
    -webkit-tap-highlight-color: rgba(98,34,67,0.3);
}
section{
    width:auto;
    margin: 20px 10px 0;
}
.slide{
    text-align: center;
}
.slide li{
    display: inline-block;
    width:6px;
    height:6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #cacaca;
    margin-right:6px;
    margin-left: 1px;
}
.slide li.active{
    background: #923f68;
}
span{
    display:inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none !important;
}
.center{
    text-align: center;
}
.ie .order_load{
    display: none;
}
/********** 页面主体内容 ***********/
.main{
    overflow: hidden;
    margin: 0;
}
/********** 页面底部 ***********/
footer{
    position: relative;
    top:-3px;
    width:100%;
    height:42px;
    color: #aaaaaa;
    font-size: 11px;
    text-align: center;
    border-top:1px solid #eeeeee;
}
footer p{
    display: inline-block;
    margin:10px 0 0 0;
    height:20px;
    width:auto;
    line-height: 20px;
    padding:0 6px;
    text-decoration: none ;
}
.home footer{
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
}
.home footer p{
    margin: 0;
}
footer a{
    color: #aaaaaa;
}
.iphone{
    display: block;
    margin: 9px 103px;
    height:28px;
    border: 1px solid #eeeeee;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#e6e6e6));/*兼容Chrome*/
    background: -ms-linear-gradient(top, #fbfbfb 0%,#e6e6e6 100%) ;/*兼容IE10*/
    background: -moz-linear-gradient(top, #fbfbfb 0%, #e6e6e6 100%) ;/*兼容 Firefox3.6+ */
    background: -o-linear-gradient( top, #fbfbfb 0%, #e6e6e6 100%) ;/*兼容opera*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e6e6e6');
}
.home .iphone{
    display: block;
}
.iphone li{
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}